{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'pages/translate.css' %}">

</head>
<body>
<div class="main">
   <div class="search">
     <form action="word">
      <input type="text" name="search" class="searchTerm" placeholder="Type any word">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
    </form>
   </div>
    <h2>Meaning:</h2>
   <h3>{{meaning}}</h3>

    <h2>Synonyms:</h2>
   <h3>{% for synonym in synonyms %}
       {{synonym}},
       {% endfor %}</h3>

    <h2>Antonyms:</h2>
   <h3>{% for antonym in antonyms %}
       {{antonym}},
       {% endfor %}</h3>

</div>
</body>
</html>
